.infinite-scroll-component {
    margin: 0 30% 0 30%;
    max-width: 1000px;
}

@media (max-width: 1200px) {
    .infinite-scroll-component {
        margin: 0 25% 0 25%;
    }
}

@media (max-width: 1000px) {
    .infinite-scroll-component {
        margin: 0 20% 0 20%;
    }
}

@media (max-width: 800px) {
    .infinite-scroll-component {
        margin: 0 15% 0 15%;
    }
}

@media (max-width: 600px) {
    .infinite-scroll-component {
        margin: 20px 20px 0 20px;
    }
}
